<h1>Add Job</h1>
<form id="new-job" action="/jobs" method="post">
  <label for="new-employer">Employer: </label>
  <input id="new-employer" type="text" name="new-employer" value=""> <br>
  <label for="new-title">Title: </label>
  <input id="new-title" type="text" name="new-title" value=""> <br>
  <label for="new-start-date">Start Date: </label>
  <input id="new-start-date" type="text" name="new-start-date" value=""> <br>
  <label for="new-end-date">End Date: </label>
  <input id="new-end-date" type="text" name="new-end-date" value=""> <br>
  <button type="submit" name="button"></button>
</form>
