<h1>Add Job</h1>
<form id="new-job" action="/job/details/@Model.GetId()" method="post">
  <label for="new-employer">Employer: </label>
  <input id="new-employer" type="text" name="new-employer" value="@Model.GetEmployer()"> <br>
  <label for="new-title">Title: </label>
  <input id="new-title" type="text" name="new-title" value="@Model.GetTitle()"> <br>
  <label for="new-start-date">Start Date: </label>
  <input id="new-start-date" type="text" name="new-start-date" value="@Model.GetStartDate()"> <br>
  <label for="new-end-date">End Date: </label>
  <input id="new-end-date" type="text" name="new-end-date" value="@Model.GetEndDate()"> <br>
  <button type="submit" name="button">Update</button>
</form>
